In [1]:
%load_ext sql

In [2]:
%sql sqlite:///sqlite_database.db

### 1. Orders tablosunda kaç müşteri oldugunu bulunuz.

In [6]:
%%sql
select count(CustomerID) from Orders

 * sqlite:///sqlite_database.db
Done.

[(196,)]

### 2. Orders tablosunda kaç tane eşsiz müşteri olduğunu bulunuz.

In [9]:
%%sql
select count(distinct CustomerID) from Orders

 * sqlite:///sqlite_database.db
Done.

[(74,)]

### 3. Customers tablosunda hangi ülkeden kaçar tane müşteri olduğunu bulunuz.

In [12]:
%%sql
select count(*),Country from Customers
group by Country

 * sqlite:///sqlite_database.db
Done.

[(3, 'Argentina'),
 (2, 'Austria'),
 (2, 'Belgium'),
 (9, 'Brazil'),
 (3, 'Canada'),
 (2, 'Denmark'),
 (2, 'Finland'),
 (11, 'France'),
 (11, 'Germany'),
 (1, 'Ireland'),
 (3, 'Italy'),
 (5, 'Mexico'),
 (1, 'Norway'),
 (1, 'Poland'),
 (2, 'Portugal'),
 (5, 'Spain'),
 (2, 'Sweden'),
 (2, 'Switzerland'),
 (7, 'UK'),
 (13, 'USA'),
 (4, 'Venezuela')]

### 4. Müşterilerin ülkesi Brazil ya da USA olanlarını bulunuz.

In [15]:
%%sql
select * from Customers where Country="USA" or Country="Brazil"

 * sqlite:///sqlite_database.db
Done.

[(15, 'Comércio Mineiro', 'Pedro Afonso', 'Av. dos Lusíadas, 23', 'São Paulo', '05432-043', 'Brazil'),
 (21, 'Familia Arquibaldo', 'Aria Cruz', 'Rua Orós, 92', 'São Paulo', '05442-030', 'Brazil'),
 (31, 'Gourmet Lanchonetes', 'André Fonseca', 'Av. Brasil, 442', 'Campinas', '04876-786', 'Brazil'),
 (32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA'),
 (34, 'Hanari Carnes', 'Mario Pontes', 'Rua do Paço, 67', 'Rio de Janeiro', '05454-876', 'Brazil'),
 (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA'),
 (43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA'),
 (45, "Let's Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA'),
 (48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA'),
 (55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA'),
 (61, 'Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil'),
 (62, 'Queen Cozinha', 'Lúcia Carvalho', 'Alameda dos Canàrios, 891', 'São Paulo', '05487-020', 'Brazil'),
 (65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA'),
 (67, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil'),
 (71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA'),
 (75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'P.O. Box 555', 'Lander', '82520', 'USA'),
 (77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA'),
 (78, 'The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA'),
 (81, 'Tradição Hipermercados', 'Anabela Domingues', 'Av. Inês de Castro, 414', 'São Paulo', '05634-030', 'Brazil'),
 (82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA'),
 (88, 'Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil'),
 (89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')]

### 5. Önce ülkeye sonra şehre göre group by işlemi yapıp bu kırılımda müşteri sayısını bulunuz.

In [18]:
%%sql
select count(CustomerID),Country,City from Customers
group by Country, City

 * sqlite:///sqlite_database.db
Done.

[(3, 'Argentina', 'Buenos Aires'),
 (1, 'Austria', 'Graz'),
 (1, 'Austria', 'Salzburg'),
 (1, 'Belgium', 'Bruxelles'),
 (1, 'Belgium', 'Charleroi'),
 (1, 'Brazil', 'Campinas'),
 (1, 'Brazil', 'Resende'),
 (3, 'Brazil', 'Rio de Janeiro'),
 (4, 'Brazil', 'São Paulo'),
 (1, 'Canada', 'Montréal'),
 (1, 'Canada', 'Tsawassen'),
 (1, 'Canada', 'Vancouver'),
 (1, 'Denmark', 'København'),
 (1, 'Denmark', 'Århus'),
 (1, 'Finland', 'Helsinki'),
 (1, 'Finland', 'Oulu'),
 (1, 'France', 'Lille'),
 (1, 'France', 'Lyon'),
 (1, 'France', 'Marseille'),
 (2, 'France', 'Nantes'),
 (2, 'France', 'Paris'),
 (1, 'France', 'Reims'),
 (1, 'France', 'Strasbourg'),
 (1, 'France', 'Toulouse'),
 (1, 'France', 'Versailles'),
 (1, 'Germany', 'Aachen'),
 (1, 'Germany', 'Berlin'),
 (1, 'Germany', 'Brandenburg'),
 (1, 'Germany', 'Cunewalde'),
 (1, 'Germany', 'Frankfurt a.M.'),
 (1, 'Germany', 'Köln'),
 (1, 'Germany', 'Leipzig'),
 (1, 'Germany', 'Mannheim'),
 (1, 'Germany', 'München'),
 (1, 'Germany', 'Münster'),
 (1, 'Germany', 'Stuttgart'),
 (1, 'Ireland', 'Cork'),
 (1, 'Italy', 'Bergamo'),
 (1, 'Italy', 'Reggio Emilia'),
 (1, 'Italy', 'Torino'),
 (5, 'Mexico', 'México D.F.'),
 (1, 'Norway', 'Stavern'),
 (1, 'Poland', 'Walla'),
 (2, 'Portugal', 'Lisboa'),
 (1, 'Spain', 'Barcelona'),
 (3, 'Spain', 'Madrid'),
 (1, 'Spain', 'Sevilla'),
 (1, 'Sweden', 'Bräcke'),
 (1, 'Sweden', 'Luleå'),
 (1, 'Switzerland', 'Bern'),
 (1, 'Switzerland', 'Genève'),
 (1, 'UK', 'Cowes'),
 (6, 'UK', 'London'),
 (1, 'USA', 'Albuquerque'),
 (1, 'USA', 'Anchorage'),
 (1, 'USA', 'Boise'),
 (1, 'USA', 'Butte'),
 (1, 'USA', 'Elgin'),
 (1, 'USA', 'Eugene'),
 (1, 'USA', 'Kirkland'),
 (1, 'USA', 'Lander'),
 (2, 'USA', 'Portland'),
 (1, 'USA', 'San Francisco'),
 (1, 'USA', 'Seattle'),
 (1, 'USA', 'Walla Walla'),
 (1, 'Venezuela', 'Barquisimeto'),
 (1, 'Venezuela', 'Caracas'),
 (1, 'Venezuela', 'I. de Margarita'),
 (1, 'Venezuela', 'San Cristóbal')]

### 6. Müşterileri adreslerinin herhangi bir yerinde "da" ifadesi geçen tüm adresleri bulunuz.

In [21]:
%%sql
select Address from Customers where Address like  "%da%"

 * sqlite:///sqlite_database.db
Done.

[('Avda. de la Constitución 2222',),
 ('Sierras de Granada 9993',),
 ('Av. dos Lusíadas, 23',),
 ('Jardim das rosas n. 32',),
 ('Ing. Gustavo Moncada 8585 Piso 20-A',),
 ('Estrada da saúde n. 58',),
 ('Rua da Panificadora, 12',),
 ('Alameda dos Canàrios, 891',),
 ('Strada Provinciale 124',),
 ('Avda. Azteca 123',),
 ('722 DaVinci Blvd.',)]

### 7. Germany-Berlin'de yaşayan müşteri/müşterilerin isimleri nelerdir?

In [24]:
%%sql
select CustomerName from Customers where Country="Germany" and City="Berlin"

 * sqlite:///sqlite_database.db
Done.

[('Alfreds Futterkiste',)]

### 8. Canada'da yaşayıp isimlerinde "in" ifadesi geçen müşteri/müşterileri bulunuz.

In [27]:
%%sql
select CustomerName from Customers where Country="Canada" and CustomerName like "%in%"

 * sqlite:///sqlite_database.db
Done.

[('Laughing Bacchus Wine Cellars',)]

### 9. Fiyatı 40 TL ile 90 TL arasında olan ürünlerin isimleri ve fiyatları nelerdir?

In [30]:
%%sql
select * from Products where Price between 40 and 90

 * sqlite:///sqlite_database.db
Done.

[(8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40),
 (15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 43),
 (18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 62),
 (19, 'Teatime Chocolate Biscuits', 8, 3, '10 boxes x 12 pieces', 43),
 (20, "Sir Rodney's Marmalade", 8, 3, '30 gift boxes', 81),
 (24, 'Guaraná Fantástica', 10, 1, '12 - 355 ml cans', 43),
 (27, 'Schoggi Schokolade', 11, 3, '100 - 100 g pieces', 43),
 (28, 'Rössle Sauerkraut', 12, 7, '25 - 825 g cans', 45),
 (33, 'Geitost', 15, 4, '500 g', 43),
 (40, 'Boston Crab Meat', 19, 8, '24 - 4 oz tins', 43),
 (43, 'Ipoh Coffee', 20, 1, '16 - 500 g tins', 46),
 (45, 'Røgede sild', 21, 8, '1k pkg.', 43),
 (47, 'Zaanse koeken', 22, 3, '10 - 4 oz boxes', 43),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', 53),
 (57, 'Ravioli Angelo', 26, 5, '24 - 250 g pkgs.', 43),
 (59, 'Raclette Courdavault', 28, 4, '5 kg pkg.', 55),
 (61, "Sirop d'érable", 29, 2, '24 - 500 ml bottles', 43),
 (62, 'Tarte au sucre', 29, 3, '48 pies', 49),
 (63, 'Vegie-spread', 7, 2, '15 - 625 g jars', 43),
 (65, 'Louisiana Fiery Hot Pepper Sauce', 2, 2, '32 - 8 oz bottles', 43),
 (68, 'Scottish Longbreads', 8, 3, '10 boxes x 8 pieces', 45)]

### 10. Fiyatı 30 TL'den büyük olan ürünlerin isimlerini, fiyatlarini ve fiyatlarinin karesini bulunuz ve tüm değişkenlerin isimlendirmelerini aşağıdaki şekilde yapınız:

urun ismi, urun_fiyati, ürün_fiyatinin_karesi

In [33]:
%%sql
select ProductName urun_ismi , Price urun_fiyati, Price*Price ürün_fiyatinin_karesi from Products where Price>30

 * sqlite:///sqlite_database.db
Done.

[('Northwoods Cranberry Sauce', 40, 1600),
 ('Mishi Kobe Niku', 97, 9409),
 ('Ikura', 31, 961),
 ('Queso Manchego La Pastora', 38, 1444),
 ('Genen Shouyu', 43, 1849),
 ('Alice Mutton', 39, 1521),
 ('Carnarvon Tigers', 62, 3844),
 ('Teatime Chocolate Biscuits', 43, 1849),
 ("Sir Rodney's Marmalade", 81, 6561),
 ('Guaraná Fantástica', 43, 1849),
 ('Gumbär Gummibärchen', 31, 961),
 ('Schoggi Schokolade', 43, 1849),
 ('Rössle Sauerkraut', 45, 2025),
 ('Thüringer Rostbratwurst', 123, 15129),
 ('Gorgonzola Telino', 435, 189225),
 ('Mascarpone Fabioli', 32, 1024),
 ('Geitost', 43, 1849),
 ('Côte de Blaye', 263, 69169),
 ('Boston Crab Meat', 43, 1849),
 ('Ipoh Coffee', 46, 2116),
 ('Røgede sild', 43, 1849),
 ('Zaanse koeken', 43, 1849),
 ('Manjimup Dried Apples', 53, 2809),
 ('Perth Pasties', 32, 1024),
 ('Gnocchi di nonna Alice', 38, 1444),
 ('Ravioli Angelo', 43, 1849),
 ('Raclette Courdavault', 55, 3025),
 ('Camembert Pierrot', 34, 1156),
 ("Sirop d'érable", 43, 1849),
 ('Tarte au sucre', 49, 2401),
 ('Vegie-spread', 43, 1849),
 ('Wimmers gute Semmelknödel', 33, 1089),
 ('Louisiana Fiery Hot Pepper Sauce', 43, 1849),
 ('Scottish Longbreads', 45, 2025),
 ('Gudbrandsdalsost', 36, 1296),
 ('Mozzarella di Giovanni', 34, 1156)]

### 11. Products tablosundaki CategoryID’lerin yani kategorilerin isimleri nelerdir?

In [83]:
%%sql
select Products.CategoryID, Categories.CategoryName, Products.ProductName from Products 
left outer join Categories on Products.CategoryID=Categories.CategoryID

 * sqlite:///sqlite_database.db
Done.

[(1, 'Beverages', 'Chais'),
 (1, 'Beverages', 'Chang'),
 (2, 'Condiments', 'Aniseed Syrup'),
 (2, 'Condiments', "Chef Anton's Cajun Seasoning"),
 (2, 'Condiments', "Chef Anton's Gumbo Mix"),
 (2, 'Condiments', "Grandma's Boysenberry Spread"),
 (7, 'Produce', "Uncle Bob's Organic Dried Pears"),
 (2, 'Condiments', 'Northwoods Cranberry Sauce'),
 (6, 'Meat/Poultry', 'Mishi Kobe Niku'),
 (8, 'Seafood', 'Ikura'),
 (4, 'Dairy Products', 'Queso Cabrales'),
 (4, 'Dairy Products', 'Queso Manchego La Pastora'),
 (8, 'Seafood', 'Konbu'),
 (7, 'Produce', 'Tofu'),
 (2, 'Condiments', 'Genen Shouyu'),
 (3, 'Confections', 'Pavlova'),
 (6, 'Meat/Poultry', 'Alice Mutton'),
 (8, 'Seafood', 'Carnarvon Tigers'),
 (3, 'Confections', 'Teatime Chocolate Biscuits'),
 (3, 'Confections', "Sir Rodney's Marmalade"),
 (3, 'Confections', "Sir Rodney's Scones"),
 (5, 'Grains/Cereals', "Gustaf's Knäckebröd"),
 (5, 'Grains/Cereals', 'Tunnbröd'),
 (1, 'Beverages', 'Guaraná Fantástica'),
 (3, 'Confections', 'NuNuCa Nuß-Nougat-Creme'),
 (3, 'Confections', 'Gumbär Gummibärchen'),
 (3, 'Confections', 'Schoggi Schokolade'),
 (7, 'Produce', 'Rössle Sauerkraut'),
 (6, 'Meat/Poultry', 'Thüringer Rostbratwurst'),
 (8, 'Seafood', 'Nord-Ost Matjeshering'),
 (4, 'Dairy Products', 'Gorgonzola Telino'),
 (4, 'Dairy Products', 'Mascarpone Fabioli'),
 (4, 'Dairy Products', 'Geitost'),
 (1, 'Beverages', 'Sasquatch Ale'),
 (1, 'Beverages', 'Steeleye Stout'),
 (8, 'Seafood', 'Inlagd Sill'),
 (8, 'Seafood', 'Gravad lax'),
 (1, 'Beverages', 'Côte de Blaye'),
 (1, 'Beverages', 'Chartreuse verte'),
 (8, 'Seafood', 'Boston Crab Meat'),
 (8, 'Seafood', "Jack's New England Clam Chowder"),
 (5, 'Grains/Cereals', 'Singaporean Hokkien Fried Mee'),
 (1, 'Beverages', 'Ipoh Coffee'),
 (2, 'Condiments', 'Gula Malacca'),
 (8, 'Seafood', 'Røgede sild'),
 (8, 'Seafood', 'Spegesild'),
 (3, 'Confections', 'Zaanse koeken'),
 (3, 'Confections', 'Chocolade'),
 (3, 'Confections', 'Maxilaku'),
 (3, 'Confections', 'Valkoinen suklaa'),
 (7, 'Produce', 'Manjimup Dried Apples'),
 (5, 'Grains/Cereals', 'Filo Mix'),
 (6, 'Meat/Poultry', 'Perth Pasties'),
 (6, 'Meat/Poultry', 'Tourtière'),
 (6, 'Meat/Poultry', 'Pâté chinois'),
 (5, 'Grains/Cereals', 'Gnocchi di nonna Alice'),
 (5, 'Grains/Cereals', 'Ravioli Angelo'),
 (8, 'Seafood', 'Escargots de Bourgogne'),
 (4, 'Dairy Products', 'Raclette Courdavault'),
 (4, 'Dairy Products', 'Camembert Pierrot'),
 (2, 'Condiments', "Sirop d'érable"),
 (3, 'Confections', 'Tarte au sucre'),
 (2, 'Condiments', 'Vegie-spread'),
 (5, 'Grains/Cereals', 'Wimmers gute Semmelknödel'),
 (2, 'Condiments', 'Louisiana Fiery Hot Pepper Sauce'),
 (2, 'Condiments', 'Louisiana Hot Spiced Okra'),
 (1, 'Beverages', 'Laughing Lumberjack Lager'),
 (3, 'Confections', 'Scottish Longbreads'),
 (4, 'Dairy Products', 'Gudbrandsdalsost'),
 (1, 'Beverages', 'Outback Lager'),
 (4, 'Dairy Products', 'Fløtemysost'),
 (4, 'Dairy Products', 'Mozzarella di Giovanni'),
 (8, 'Seafood', 'Röd Kaviar'),
 (7, 'Produce', 'Longlife Tofu'),
 (1, 'Beverages', 'Rhönbräu Klosterbier'),
 (1, 'Beverages', 'Lakkalikööri'),
 (2, 'Condiments', 'Original Frankfurter grüne Soße')]

### 12. beverages ürün kategorisindeki ürünlerin fiyat ortalaması nedir?

In [107]:
%%sql
select Categories.CategoryName, Avg(Products.Price) from Categories 
inner join Products on Products.CategoryID=Categories.CategoryID
where Categories.CategoryName="Beverages"

 * sqlite:///sqlite_database.db
Done.

[('Beverages', 42.75)]

### 13. USA'de yaşayan müşterilerin kazandırdığı toplam kazancı bulunuz.

In [122]:
%%sql
select sum(Products.Price) from Customers 
inner join Orders on Orders.CustomerID=Customers.CustomerID
inner join OrderDetails on Orders.OrderID=OrderDetails.OrderID
inner join Products on OrderDetails.ProductID=Products.ProductID


where Country="USA"

 * sqlite:///sqlite_database.db
Done.

[(3762,)]

### 14. Products tablosundaki CategoryID'lerin isimlerini bulunuz ve sonrasında kategori başına ortalama ürün fiyatını gösteriniz.

In [147]:
%%sql
select Categories.CategoryName, Products.Price from Products
inner join Categories on Categories.CategoryID=Products.CategoryID
Group by Categories.CategoryName

 * sqlite:///sqlite_database.db
Done.

[('Beverages', 18),
 ('Condiments', 10),
 ('Confections', 17),
 ('Dairy Products', 21),
 ('Grains/Cereals', 21),
 ('Meat/Poultry', 97),
 ('Produce', 30),
 ('Seafood', 31)]

### 15. Çalışanları (EmployeeID) isimleri ile birlikte yaptıkları toplam satışlara göre sıralayınız.

In [194]:
%%sql
select Employees.LastName, Employees.FirstName,  OrderDetails.Quantity from Employees
inner join Orders on Orders.EmployeeID = Employees.EmployeeID
inner join OrderDetails on OrderDetails.OrderID=Orders.OrderID
group by Employees.LastName

 * sqlite:///sqlite_database.db
Done.

[('Buchanan', 'Steven', 5),
 ('Callahan', 'Laura', 2),
 ('Davolio', 'Nancy', 6),
 ('Dodsworth', 'Anne', 20),
 ('Fuller', 'Andrew', 20),
 ('King', 'Robert', 9),
 ('Leverling', 'Janet', 6),
 ('Peacock', 'Margaret', 10),
 ('Suyama', 'Michael', 9)]

### 16. Germany'dan verilen siparişlerin kategorilerine göre ortalama fiyatları nelerdir?

In [217]:
%%sql
select avg(p.Price), c.CategoryName, c.Country from Customers c
inner join Orders o on o.CustomerID=c.CustomerID
inner join OrderDetails od on od.OrderID=o.OrderID
inner join Products p on p.ProductID=od.ProductID
inner join Categories c on c.CategoryID=p.CategoryID
where Country="Germany"
group by p.CategoryID

 * sqlite:///sqlite_database.db
Done.

[(20.5, 'Beverages', 'Germany'),
 (34.0, 'Condiments', 'Germany'),
 (40.0, 'Confections', 'Germany'),
 (151.64705882352942, 'Dairy Products', 'Germany'),
 (22.142857142857142, 'Grains/Cereals', 'Germany'),
 (30.2, 'Meat/Poultry', 'Germany'),
 (30.75, 'Produce', 'Germany'),
 (27.09090909090909, 'Seafood', 'Germany')]

### 17. Almanya ya da USA'den verilen siparişlerin kategorilerine göre ortalama fiyatları nelerdir?

In [233]:
%%sql
select avg(p.Price), cat.CategoryName, c.Country from Customers c
inner join Orders o on o.CustomerID=c.CustomerID
inner join OrderDetails od on od.OrderID=o.OrderID
inner join Products p on p.ProductID=od.ProductID
inner join Categories cat on cat.CategoryID=p.CategoryID
where Country="Germany" or Country="USA"
group by p.CategoryID, cat.CategoryName, c.Country;

 * sqlite:///sqlite_database.db
Done.

[(20.5, 'Beverages', 'Germany'),
 (43.54545454545455, 'Beverages', 'USA'),
 (34.0, 'Condiments', 'Germany'),
 (35.333333333333336, 'Condiments', 'USA'),
 (40.0, 'Confections', 'Germany'),
 (39.88235294117647, 'Confections', 'USA'),
 (151.64705882352942, 'Dairy Products', 'Germany'),
 (103.58333333333333, 'Dairy Products', 'USA'),
 (22.142857142857142, 'Grains/Cereals', 'Germany'),
 (38.833333333333336, 'Grains/Cereals', 'USA'),
 (30.2, 'Meat/Poultry', 'Germany'),
 (54.27272727272727, 'Meat/Poultry', 'USA'),
 (30.75, 'Produce', 'Germany'),
 (26.5, 'Produce', 'USA'),
 (27.09090909090909, 'Seafood', 'Germany'),
 (23.77777777777778, 'Seafood', 'USA')]

### 18. Haziran Temmuz Ağustos aylarında verilen siparişlerin ortalama fiyatı nedir?

In [362]:
%%sql
select avg(p.Price) from Orders o
inner join OrderDetails od on od.OrderID=o.OrderID
inner join Products p on p.ProductID=od.ProductID
where o.OrderDate between "4.07.1996"  and  "30.08.1996"

 * sqlite:///sqlite_database.db
Done.

[(None,)]

### 19. Müşterilerin 1997 yılına ait siparişlerinin maksimum miktarlarını bulup müşterilerin isimleri ile birlikte büyükten küçüğe sıralayınız.

In [321]:
%%sql
select c.CustomerName, max(p.Price)  from Orders o
inner join OrderDetails od on od.OrderID=o.OrderID
inner join Products p on p.ProductID=od.ProductID
inner join Customers c on c.CustomerID=o.CustomerID
group by c.CustomerName
order by max(p.Price) desc

 * sqlite:///sqlite_database.db
Done.

[('Wolski', 435),
 ('Seven Seas Imports', 435),
 ('Save-a-lot Markets', 435),
 ('Rattlesnake Canyon Grocery', 435),
 ('QUICK-Stop', 435),
 ('Mère Paillarde', 435),
 ('Königlich Essen', 435),
 ('Hungry Owl All-Night Grocers', 435),
 ('Hanari Carnes', 435),
 ('Gourmet Lanchonetes', 435),
 ('Frankenversand', 435),
 ('Ernst Handel', 435),
 ('Drachenblut Delikatessend', 435),
 ('Die Wandernde Kuh', 435),
 ('Split Rail Beer & Ale', 263),
 ('Simons bistro', 263),
 ('Queen Cozinha', 263),
 ('Piccolo und mehr', 263),
 ('Blondel père et fils', 263),
 ('Pericles Comidas clásicas', 123),
 ('Old World Delicatessen', 123),
 ('GROSELLA-Restaurante', 123),
 ('Eastern Connection', 123),
 ('Comércio Mineiro', 123),
 ('Wellington Importadora', 97),
 ('Tradição Hipermercados', 81),
 ('Suprêmes délices', 81),
 ('Berglunds snabbköp', 81),
 ('Tortuga Restaurante', 62),
 ("Bon app'", 62),
 ('Santé Gourmet', 55),
 ('Richter Supermarkt', 55),
 ('Magazzini Alimentari Riuniti', 55),
 ('Furia Bacalhau e Frutos do Mar', 55),
 ('Bottom-Dollar Marketse', 55),
 ('Que Delícia', 53),
 ('Princesa Isabel Vinhoss', 53),
 ('The Big Cheese', 49),
 ('Morgenstern Gesundkost', 49),
 ('Lonesome Pine Restaurant', 49),
 ("La maison d'Asie", 49),
 ('Hungry Coyote Import Store', 49),
 ('Folies gourmandes', 49),
 ('Wartian Herkku', 46),
 ('Victuailles en stock', 45),
 ('Vaffeljernet', 45),
 ('Reggiani Caseifici', 45),
 ('Lehmanns Marktstand', 45),
 ('Godos Cocina Típica', 45),
 ('White Clover Markets', 43),
 ('Toms Spezialitäten', 43),
 ('Romero y tomillo', 43),
 ('Ricardo Adocicados', 43),
 ('LILA-Supermercado', 43),
 ('HILARIÓN-Abastos', 43),
 ('Galería del gastrónomo', 43),
 ('Familia Arquibaldo', 43),
 ('Chop-suey Chinese', 43),
 ('Bólido Comidas preparadas', 43),
 ('Around the Horn', 43),
 ('Vins et alcools Chevalier', 38),
 ('Ottilies Käseladen', 36),
 ('Du monde entier', 36),
 ('Ana Trujillo Emparedados y helados', 36),
 ('Wilman Kala', 34),
 ('Consolidated Holdings', 34),
 ("B's Beverages", 33),
 ('Franchi S.p.A.', 31),
 ('Centro comercial Moctezuma', 26),
 ('Folk och fä HB', 25),
 ('Océano Atlántico Ltda.', 23),
 ('Island Trading', 23),
 ('Antonio Moreno Taquería', 21),
 ('LINO-Delicateses', 10)]

### 20. Sipariş yılı 1997 olan siparişleri alan çalışanları sipariş alma sayılarına göre sıralayınız.

In [348]:
%%sql
select e.LastName, e.FirstName, Count(od.Quantity) from Orders o
inner join OrderDetails od on od.OrderID=o.OrderID
inner join Products p on p.ProductID=od.ProductID
inner join Customers c on c.CustomerID=o.CustomerID
inner join Employees e on e.EmployeeID=o.EmployeeID
group by e.LastName
order by Count(od.Quantity) desc

 * sqlite:///sqlite_database.db
Done.

[('Peacock', 'Margaret', 123),
 ('Davolio', 'Nancy', 78),
 ('Leverling', 'Janet', 74),
 ('Callahan', 'Laura', 68),
 ('Fuller', 'Andrew', 49),
 ('Suyama', 'Michael', 46),
 ('King', 'Robert', 34),
 ('Buchanan', 'Steven', 27),
 ('Dodsworth', 'Anne', 19)]